services:
  server:
    build: ./server       # looks for Dockerfile inside the server folder
    ports:
      - "65432:65432"

  client:
    build: ./client       # looks for Dockerfile inside the client folder
    depends_on:
      - server